/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2014, 12:50:48 PM
    Author     : jpkader
*/

.rbow-bsRow {
    background-color: #baf1e3;
}

.rbow-bsContainer {
    width: 80%;
    margin-top: 100px;
    padding: 50px;
    background-color: white;
    overflow: scroll;
}

.rbow-box2 {
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.rbow-table {
    margin-top: 50px;
}

.json-view, .json-input {
    width: 80%;
    max-height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: scroll;
}

/*.json-input {
    width: 20%;
    max-height: 200px;
    margin-top: 50px;
    overflow: scroll;
}*/

/* Utils */
.rotate-icon    {  
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
    -ms-transform:rotate(90deg);

}